<!DOCTYPE html>

<html lang="en">

<html>
    <head>
        <meta chartset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://kit.fontawesome.com/d0175776b1.js" crossorigin="anonymous"></script>
    </head>

    <body>
      <header class="primero">
        
        <div class="logo">
          <img with="40%" src="images/logo-mercado-liebre.svg">
        </div>  

        <div class="buscador"> 
          <input type="search" id="query" name="q" placeholder="Buscar productos, marcas">
          <button>
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>

        <div>
          <p class="parrafo"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas sin tarjeta de crédito</p>
        </div>

        <div class="lista">
          <ul type="none">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
          </ul>
        </div>
      
        <div class="listaIngreso">
          <ul type="none">
            <li>
              <a href="/register">Creá tu cuenta</a>
            </li>
            <li>
              <a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
            </li>
            <li>Mis compras <i class="fa-solid fa-basket-shopping"></i></li>
          </ul>
        </div>

        <div class="cajaBurger">
          <span class="burger-menu">
          <i class="fas fa-bars" id="barras"></i>
          </span>
        </div>

        <div class="banner">
          <img with="40%" src="images/img-home-banner.jpg">
        </div>

      </header>


      <main class="medio">

        <div class="tituloMain">
          <h2>Basado en tu última vista</h2>
        </div>

        <div class="productos1">
          <div class="producto">
            <div>
              <img with="40%" src="images/img-macbook-pro-2019.jpg">
            </div>
            <div class="infoProducto">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$230.000</p>
              <p class="descuento">20% off</p>
              <p class="nombre">MacBook Pro 2019</p>
            </div>
          </div>
          <br>
          <div class="producto">
            <div>
              <img width="40%" src="images/img-samsung-galaxy-s10.jpg">
            </div>
            <div class="infoProducto">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$70.500</p>
              <p class="descuento">10% off</p>
              <p class="nombre">Samsung Galaxy S10</p>
            </div>
          </div>
        </div>

        <div class="tituloMain">
          <h2>Sección de ofertas</h2>
        </div>

        <div class="productos2">
          <div class="producto">
            <div>
              <img width="40%" src="images/img-cafetera-moulinex.jpg">
            </div>
            <div class="infoProducto">
              <i class="fa-solid fa-truck"></i>
              <p class="precio">$50.350</p>
              <p class="descuento">50% off</p>
              <p class="nombre">Cafetera Moulinex</p>
            </div>
          </div>
        </div>
        
      </main>


      <footer>

        <div class="todoFooter">

          <div class="articuloFooter">
            <div class="iconosFooter">
              <i class="fa-solid fa-credit-card"></i>
            </div>
            <div class="infoFooter">
              <h2>
                Pagá con descuento o en efectivo
              </h2>
              <p>
                Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! 
              </p>
            </div>
          </div>
  
          <div class="articuloFooter">
            <div class="iconosFooter">
              <i class="fa-solid fa-gift"></i>
            </div>
            <div class="infoFooter">
              <h2>
                Envio gratis desde los $2.500
              </h2>
              <p>
                Solo por estar registrado en Mercado Liebre tenés gratis en miles de productos. Es un beneficio de Mercado Puntos.
              </p>
            </div>
          </div>
  
          <div class="articuloFooter">
            <div class="iconosFooter">
              <i class="fa-solid fa-user-shield"></i>
            </div>
            <div class="infoFooter">
              <h2>
                Seguridad de principio a fin
              </h2>
              <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer poque estás siempre protegid@.
              </p>
            </div>
          </div>
          
          <br>
          <br>

        </div>

        <div class="copy">
          <p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
          </p>
          </div>

      </footer>
    </body>

</html>