* {
    font-family: 'Roboto';
    box-sizing: border-box;
}

p{
    font-size: 4.5vw;
}

a{
    color: black;
}

.primero {
    background-color: #EAC926;
    color: black;
    width: 100%;
}

.parrafo {
    text-align: center;
}

.logo{
    display: flex;
    position: relative;
    width: 50%;
    left: 4.5vw;
    top: 4.5vw;
    margin: 0vw 0vw 8vw 0vw;
}

.buscador{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 3vw;
}

.buscador input{
    width: 58%;
    height: 35px;
}

.buscador button{
    width: 7.5vw;
    height: 35px;
}

.lista{
    position: relative;
    left: -37px;
    margin-bottom: 5vw;
}

.listaIngreso{
    position: relative;
    left: -37px;
}

.burger-menu{
    width: 9%;
    height: 30px;
    color: white;
    background-color: #1259c3;
    border-radius: 10%;
    margin-bottom: 2vw;
}

#barras{
    font-size: 7vw;
    text-align: center;
    margin-left: 1vw;
    margin-top: 0.3vw;
}

.cajaBurger{
    display: flex;
    justify-content: center;
}

.banner{
    display: flex;
    justify-content: center;
    height: 21vw;
}

.medio{
    text-align: center;
}

.tituloMain{
    margin: 16vw 0vw 4vw 0vw;
}

.productos1{
    display: flex;
    flex-direction: column;
}

.productos2{

}

.producto{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    height: 600px;
    background-color: #ebebeb;
    margin: 1vw 4vw 1vw 4vw;
}

.producto img{
    height: 250px;
    width: 65%;
}

.producto i{
    color: #39b54a;
    font-size: 6vw;
}

.precio{
    font-size: 5vw;
}

.descuento{
    color: #39b54a;
    font-size: 4vw;
}

.nombre{
    font-size: 4vw;
    color: #666;
}

.infoProducto{
    text-align: left;
    margin-left: 11vw;
    opacity: 25%;
}

.infoProducto:hover{
    animation: animProducto 4s; 
}

.infoFooter h2{
    text-align: center;
    font-size: 4.5vw;
    font-weight: bolder;
}

.infoFooter p{
    text-align: center;
    font-size: 3.7vw;
}

.iconosFooter{
    font-size: 7vw;
    margin: 6vw 0vw 0vw 0vw;
    text-align: center;
    color: #1259c3;
}

.iconosFooter:hover{
    color: #666;
}

.copy p{
    text-align: center;
    color: #666;
    font-size: 3vw;
}

.formulario{
    margin-top: 6vw;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    text-align: center;
    font-size: 4vw;
    background-color: #ebebeb;
}

.formulario input{
    font-size: 4vw;
}

.formulario button{
    font-size: 4vw;
}

.bEnviar:hover{
    background-color: #0022AA;
    color: white;
}

@keyframes animProducto {
    0% { opacity: 0% }
    100% { opacity:100% }
}


@media screen and (min-width: 100px) and (max-width: 400px){
    .listaIngreso{
       display: none;
    }
}


@media screen and (min-width: 401px) and (max-width: 769px){

    .logo{
        width: 40%;
    }

   .burger-menu{
    display: none;
   }

   .banner{
    width: 100%;
   }

   .producto img{
    height: 250px;
    width: 50%;
    }
}


@media screen and (min-width: 770px) and (max-width: 4000px){

    p{
        font-size: 2vw;
    }

    .logo{
        width: 30%;
    }
    
    .buscador button{
        width: 3vw;
        height: 35px;
    }
    
    .buscador input{
        width: 58%;
        height: 35px;
    }

    .banner{
        width: 100%;
    }

    .burger-menu{
    display: none;
    }

    .productos1{
        flex-direction: row;
    }
    
    .productos2{
        flex-direction: row;
    }

    .producto{
        height: 500px;
        width: 30%;
        margin: 1vw 4vw 1vw 4vw;
    }
    
    .producto img{
        height: 200px;
        width: 50%;
    }
    
    .producto i{
        font-size: 3vw;
    }
    
    .precio{
        font-size: 2.5vw;
    }
    
    .descuento{
        font-size: 2vw;
    }
    
    .nombre{
        font-size: 2vw;
    }
    
    .infoProducto{
        text-align: left;
        margin-left: 2vw;
    }

    .infoFooter h2{
        text-align: center;
        font-size: 1.7vw;
        font-weight: bolder;
    }
    
    .infoFooter p{
        font-size: 1.2vw;
    }
    
    .iconosFooter{
        font-size: 3vw;
        margin: 6vw 0vw 0vw 0vw;
    }
    
    .copy p{
        font-size: 1vw;
    }
    
    .todoFooter{
        display: flex;
        flex-direction: row;
    }

    .articuloFooter{
        display: flex;
        flex-direction: column;
    }

    .formulario{
        flex-direction: row;
        flex-wrap: wrap;
    }
}

/*  
box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
*/